{% extends 'blog/base.html' %}
{% load static %}


{% block extra_head %}
    <title>Article Details</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <h1>{{article.title}}</h1>
        <p>
            {{article.content}}
        </p>
    </div>
    <a href="{% url 'article_delete' article.id %}"><button class="btn">Delete</button></a>
    <a href="{% url 'article_list' %}"><button class="btn">Go Back</button></a>
{% endblock %}    